<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->





<div class="row">
  <div class="col-xs-12">
  
    <app-schooledit (StudentData)="AddStudent($event)"></app-schooledit>
  </div>
  
  
  </div>
  

  <div class="row">
    <div class="col-xs-12">
<hr>

    </div>
    
    
    </div>
  
<div class="row">
<div class="col-xs-12">

  <app-school-list *ngFor="let element of studentList" [Pupil]="element" ></app-school-list>
</div>


</div>


<h1>assignement 2 Property and event Binding</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>Create three new components: GameControl, Odd and Even</li>
        <li>The GameControl Component should have buttons to start and stop the game</li>
        <li>When starting the game, an event (holding a incrementing number) should get emitted each second (ref = setInterval())</li>
        <li>The event should be listenable from outside the component</li>
        <li>When stopping the game, no more events should get emitted (clearInterval(ref))</li>
        <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers)</li>
        <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
        <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
      </ol>

      <p #Viewchildtext>

hello View child
      </p>

      
      <p #Contentchildtext>

       ContentChild
              </p>
    </div>
  </div>
</div>
<div class="row"> 

  <div class="col-xs-12"> 

    <hr>
  </div>
</div>

<div class="col-xs-12">
<div class="col-xs-2"></div>
<div class="col-xs-3">

  <Even *ngIf="counter%2==0" [EvenElement]="counter" ></Even>
</div>


<div class="col-xs-3 pull-right">
<app-odd *ngIf="counter%2!=0" [OddElement]="counter" ></app-odd>

</div>
</div>

<app-game-control  (GameCount)="OnSetInterval($event)">


  <div class="col-xs-12">

    <p>ng content has some text that need to dispalyed from aap comeponent and we use "ng-content." in the app-game-control componenet to display this  </p>
  </div>
</app-game-control>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


